* {
  margin: 0px;
  padding: 0px;
  box-sizing: content-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  user-select: none;
  transition: 0.2s;
  /* font-family: "Silkscreen", cursive; */
}

.container {
  display: flex;
  width: fit-content;
  padding: 1px;
  background: #303030;
  margin: 100px auto;
}

.box-tone {
  display: flex;
  position: relative;
}

.a {
  width: 12px;
  padding: 13px;
  padding-top: 200px;
  cursor: pointer;
  font-weight: bold;
  background: white;
  text-align: center;
}
.a:nth-child(2n-1) {
  border-left: 1px solid #ddd;
}
.a:nth-child(2n-2) {
  border-left: 1px solid #ddd;
}
.a:active {
  background: #838282;
  color: white;
}
.b {
  width: 31px;
  position: absolute;
  background: black;
  top: -5px;
  color: white;
  padding: 2.5px;
  padding-top: 100px;
  cursor: pointer;
  text-align: center;
  z-index: 1;
  font-size: small;
  font-weight: bold;
  padding-bottom: 10px;
  border-radius: 0px 0px 5px 5px;
}

.b1 {
  left: 22px;
}

.b2 {
  left: 62px;
}

.b3 {
  left: 139px;
}

.b4 {
  left: 178px;
}

.b5 {
  left: 217px;
}

.b:active {
  background: #838282;
}
.note-active {
  background: #838282;
}

@media (max-width: 768px) {
  html {
    transform: rotate(90deg) !important;
  }
}
